.landing-page {
  background-image: url('https://images.unsplash.com/photo-1466692476877-622cecd20b30');
  background-color: #2e8b57;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
  padding-top: 50px;
}
